html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Monument Extended";
    text-transform: uppercase;
    font-size: 60px;
    z-index: -1;
}

.container {
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #161616;
    animation: slide-out-container 7s cubic-bezier(0.99, 0.06, 0.36, 0.99) 5s;
    animation-fill-mode: forwards;
}


.text-wrapper {
    color: white;
    position: absolute;
}

.text {
    font-family: "Monument Extended";
    font-weight: lighter;
    font-size: 54px;
}

.text-1,
.text-3,
.text-4,
.text-8,
.text-9,
.text-11 {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px white;
}

@keyframes blink {
    0% {
        opacity: 0%;
    }
    1% {
        opacity: 100%;
    }
    99% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}

.text-1 {
    animation: blink 0.8s linear 0.9s, blink 0.8s linear 2s;
    opacity: 0;
}

.text-2 {
    animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
    opacity: 0;
}

.text-3 {
    animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
    opacity: 0;
}

.text-4 {
    animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
    opacity: 0;
}

.text-5 {
    animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
    opacity: 0;
}

.text-6 {
    animation: blink 0.8s linear 0.4s, blink 0.8s linear 2.5s, slide-out 1s linear 3.2s;
    opacity: 0;
}

.text-7 {
    animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
    opacity: 0;
}

.text-8 {
    animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
    opacity: 0;
}

.text-9 {
    animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
    opacity: 0;
}

.text-10 {
    animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
    opacity: 0;
}

.text-11 {
    animation: blink 0.8s linear 0.9s, blink 0.8s linear 2s;
    opacity: 0;
}

@keyframes slide-out {
    0% {
        opacity: 0%;
    }
    1% {
        opacity: 100%;
    }

    19% {
        opacity: 100%;
    }
    20% {
        opacity: 0%;
    }

    39% {
        opacity: 0%;
    }
    40% {
        opacity: 100%;
    }

    59% {
        opacity: 100%;
    }
    60% {
        opacity: 0%;
    }

    79% {
        opacity: 0%;
    }
    80% {
        opacity: 100%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes slide-out-container {
    0% {
        height: 100vh;
    }

    33% {
        height: 0%;
    }

    66% {
        height: 0%;
    }

    100% {
        height: 0%;
    }
}


@media (max-width: 990px) {
    .header {
        font-size: 24px;
    }

    .text {
        font-size: 24px;
    }
}
nav {
	margin: 27px auto 0;

	position: relative;
	width: 600px;
	height: 50px;
	background-color: #161616;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 120px;
}
a:nth-child(2) {
	width: 120px;
}
a:nth-child(3) {
	width: 120px;
}
a:nth-child(4) {
	width: 120px;
}
a:nth-child(5) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 120px;
	left: 0;
	background-color: #a000f7;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 120px;
	left: 120px;
	background-color: #818181;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 120px;
	left: 240px;
	background-color: #818181;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 120px;
	left: 360px;
	background-color: #818181;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 480px;
	background-color: #01f1ca;
}

p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}

span {
    color: #a000f7;
}
